body{
		margin: 0;
		padding: 0;
		width: auto;
		height: auto;
		background: linear-gradient(to right top,#dcb6fd,#ba6ffa,#8e17f5,#6f00ce,#6f00cecf,#5400cecf)
}
img{
		width: 300px;
		height: 300px;
		border: 5px solid;
		border-style: dotted; 
		border-left-color: aquamarine;
		border-top-color: blue;
		border-right-color: chartreuse;
		border-bottom-color: deeppink;
		border-bottom-left-radius: 90px;
		border-bottom-right-radius: 0px;
		border-top-left-radius: 90px;
		border-top-right-radius: 90px;
		box-shadow: 7px 7px 5px #494040
}
.hr{
		background-color: black;
		height: 3px;
		width:300px;
		margin-top: -70px;
		margin-bottom: 50px
}
h1{
		padding-bottom: 50px;
		font-size: 45px; 
		color:red;
}
a{
		text-decoration: none;
		color: coral;
		font-size: 20px;
		font-weight: bolder;
		margin-left: 10px;
		display: block;
		text-align: center
}
h2{
		font-size:35px;
		color: gold;
		text-align: center;
		display: block
}
h2 small{
		font-size: 20px
}
button{
		background: linear-gradient(to left, #ddff87,#c1ff25,#93cd00,#52ca00,#26f500,#00d059);
		height: 50px;
		width: 170px;
		font-size: 27px;
		animation-name: s;
		animation-duration: 2s;
		animation-iteration-count: 100000000000000000000000000000000000000000000000000000000000000;
		font-weight: bolder;
		border: 3px;
		border-block-end-style: dotted;
		border-top-style: dashed;
		border-left-style: dotted;
		border-right-style: dashed;
		border-bottom-right-radius: 20px;
		border-top-left-radius: 20px;
		box-shadow: -4px -4px 2px #39474a;
}
@keyframes s{
   0% {
      color: #ff8504d2;
   		  background: linear-gradient(to left,#00d059,#ddff87,#c1ff25,#93cd00,#52ca00,#26f500);
   }
   5%{
      color:#e3a35396;
   		  background: linear-gradient(to left,#26f500,#00d059,#ddff87,#c1ff25,#93cd00,#52ca00);
   }
   10%{
      color:#1300b8;
   		  background: linear-gradient(to left,#52ca00,#26f500,#00d059,#ddff87,#c1ff25,#93cd00);
   }
   15%{
      color:#a200ac ;
   		  background: linear-gradient(to left,#93cd00,#52ca00,#26f500,#00d059,#ddff87,#c1ff25);
   }
   20%{
      color: #00b9c3 ;
   		  background: linear-gradient(to left,#c1ff25,#93cd00,#52ca00,#26f500,#00d059,#ddff87);
   }
   25%{
      color: #02ddccd7 ;
   		  background: linear-gradient(to left,#ddff87,#c1ff25,#93cd00,#52ca00,#26f500,#00d059);
   } 
   30%{
      color: #1b87ebee ;
   		  background: linear-gradient(to left,#00d059,#ddff87,#c1ff25,#93cd00,#52ca00,#26f500);
   } 
   35%{
      color: #2210c0;
   		  background: linear-gradient(to left,#26f500,#00d059,#ddff87,#c1ff25,#93cd00,#52ca00);
   } 
   40%{
      color: #a146fae1 ;
   		  background: linear-gradient(to left,#52ca00,#26f500,#00d059,#ddff87,#c1ff25,#93cd00);
   } 
   45%{
      color:#f755e8 ;
   		  background: linear-gradient(to left,#93cd00,#52ca00,#26f500,#00d059,#ddff87,#c1ff25);
   } 
   50%{
      color: #f7559ade ;
   		  background: linear-gradient(to left,#c1ff25,#93cd00,#52ca00,#26f500,#00d059,#ddff87);
   } 
   55%{
      color: #ee3b72d8 ;
   		  background: linear-gradient(to left,#ddff87,#c1ff25,#93cd00,#52ca00,#26f500,#00d059);
   } 
   60%{
      color: #cc0a0a ;
   		  background: linear-gradient(to left,#00d059,#ddff87,#c1ff25,#93cd00,#52ca00,#26f500);
   } 
}
footer{
		padding-top: 50px;
	background-color: dimgray;
		padding-bottom: 100px;
 width: 360px;
margin-top: 20px;
margin-left: -5px     
}
footer a{
		display: block;
		text-align: center;
		font-size: 19px;
		padding: 10px;
      color: aqua
}
footer p{
      font-size: 10px;
      text-align: center;
      padding: 0px;
}
foote .c .a{
      font-size: 8px;
      
}
.c{
      margin-bottom: -90px;
}
