
h3{
				text-decoration: none;
				background-color: antiquewhite;
		 font-size: 35px;
		 font-family: cursive;
				margin-left: 38px;
				margin-top: 80px;
				width: 250px
		}
h1{
		font-family: sharif;
		font-size: 30px;
		color: brown;		
			margin: 30px 30px;
				margin-left: 50px
}
h2{
		margin-left: 70px;
		margin-top: 40px;
		height: 50px;
		width: 200px;
		color: aqua;
		border: 6px solid bisque;
			border-color: ;
 outline:7px solid blanchedalmond;
				border: 7px solid antiquewhite;
		text-align: center;
			background-color: lavenderblush;
				
}
a{
		text-decoration: none;
}
body{
				background-color: beige;
				background-image: url(bk.jpg);
				background-size: 100%
}

		
		

 